# ⛔️ GEVOELIGE BESTANDEN
.env
*.env

# 📦 NODE & DEPENDENCIES
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# 📝 EDITORS & SYSTEM FILES
.vscode
.idea
.DS_Store
Thumbs.db

# 🔧 BOUW- EN UITVOERBESTANDEN
dist/
build/
coverage/

# 🐳 DOCKER- EN GIT-BESTANDEN DIE WE NIET PUSHEN
docker-compose.override.yml
Dockerfile
.dockerignore
.git
.gitignore

# ✅ BEHOUD DEZE BESTANDEN
!docker-compose.yml
!package.json
!README.md
